option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:eu-central-1:691791210951:certificate/7e535740-e890-4b4b-a0c8-2cfd39c44f1e
  aws:elasticbeanstalk:environment:process:https:
    Port: '80'
    Protocol: HTTPS

  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 7.6.0
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static